@inherits LayoutComponentBase

<SfSidebar Type="SidebarType.Push" Width="250px" Target=".main-content">
    <NavMenu/>
</SfSidebar>

<div class="main-content">
    <SfToolbar>
        <SfToolbarItems>
            <SfToolbarItem Text="About" Url="https://learn.microsoft.com/aspnet/core/" Target="_blank"></SfToolbarItem>
        </SfToolbarItems>
    </SfToolbar>

    <div class="content px-4">
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
